body {
    background: rgb(238, 167, 219);
    font-family: Andale Mono, monospace;
    text-align: center;
}

 .image img {
    max-width: 100%;
    height: auto;
    text-align: right; 

} 

.container {
    display: flex;
    justify-content: space-between;
}

 /* img {
    max-width: 100%;
    height: auto;
} */